<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.function.math</id>
    <name><![CDATA[测试数学函数]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2018-07-31</jartime>
    <vendor>author</vendor>
    <description><![CDATA[可以把一组数组都求绝对值]]></description>
    <change-notes><![CDATA[
      [2020-06-02]初始化插件。<br/>
    ]]></change-notes>
    <extra-core>
        <FunctionDefineProvider class="com.fr.plugin.function.math.MaxCommonDivisor" name="MaxCommonDivisor" description="求两个整数的最大公约数。"/>
    </extra-core>
    <function-recorder class="com.fr.plugin.function.math.MaxCommonDivisor"/>
</plugin>