/**********************/
/* TOP Navigation Bar */
/**********************/
@font-face {
    font-family: 'icomoon';
    src:  url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/fonts/icomoon.eot');
    src:  url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/fonts/icomoon.ttf') format('truetype'),
    url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/fonts/icomoon.woff') format('woff'),
    url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#fs-frame-header .node-navi .node-navi-li {
    width:108px;
    height:60px;
}

#fs-frame-header .node-navi {
    position: relative;//jhx
    top: 40px;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 3px solid #f2aa3b;
    background-color: #CB084D;
}


.node-navi li{
    position: relative;
    float: left;
    left: 0;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
}

.node-navi li:hover{
}

.node-navi li.select {
    background-color:#004EA2;
}
.node-navi-item {
    width:108px;
    height:40px;
    margin-top:10px;
    border-right: 1px solid rgb(131,156,212);
    border-right: 1px solid rgba(255,255,255,0.3);
}
.node-navi-item .node-navi-title {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow��ellipsis;
    padding: 0px 5px;
}

.node-navi-item .node-navi-icon {
    font-size: 16px;
    line-height:20px;
    display: block;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align:center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.node-navi-icon-0:before {
    content:'\e900';
}
.node-navi-icon-1:before {
    content:'\e901';
}
.node-navi-icon-2:before {
    content:'\e902';
}
.node-navi-icon-3:before {
    content:'\e903';
}
.node-navi-icon-4:before {
    content:'\e904';
}
.node-navi-icon-5:before {
    content:'\e905';
}
.node-navi-icon-6:before {
    content:'\e906';
}
.node-navi-icon-7:before {
    content:'\e907';
}
.node-navi-icon-8:before {
    content:'\e908';
}
.node-navi-icon-9:before {
    content:'\e909';
}
.node-navi-icon-10:before {
    content:'\e90a';
}
.node-navi-icon-11:before {
    content:'\e90b';
}
.node-navi-icon-12:before {
    content:'\e90c';
}
.node-navi-icon-13:before {
    content:'\e90d';
}
.node-navi-icon-14:before {
    content:'\e90e';
}
.node-navi-icon-15:before {
    content:'\e90f';
}
.node-navi-icon-16:before {
    content:'\e910';
}
.node-navi-icon-17:before {
    content:'\e911';
}
.node-navi-icon-18:before {
    content:'\e912';
}

.node-navi-icon-19:before {
    content:'\e000';
}
.node-navi-icon-20:before {
    content:'\e001';
}
.node-navi-icon-21:before {
    content:'\e002';
}
.node-navi-icon-22:before {
    content:'\e003';
}
.node-navi-icon-23:before {
    content:'\e004';
}
.node-navi-icon-24:before {
    content:'\e005';
}
.node-navi-icon-25:before {
    content:'\e006';
}
.node-navi-icon-26:before {
    content:'\e007';
}
.node-navi-icon-27:before {
    content:'\e008';
}
.node-navi-icon-28:before {
    content:'\e009';
}
.node-navi-icon-29:before {
    content:'\e010';
}
.node-navi-icon-30:before {
    content:'\e011';
}
.node-navi-icon-31:before {
    content:'\e012';
}
.node-navi-icon-32:before {
    content:'\e013';
}

.node-navi-icon-more:before {
    content:'\e055';
}

#node-navi-btn-more .node-navi-combo-more .node-navi-item:hover .node-navi-icon {
    color: #808080;
}

#node-navi-btn-more .node-navi-item:hover .node-navi-icon {
    color: rgb(178,198,230); /* IE8 */
    color: rgba(255,255,255,0.6);
}

#node-navi-btn-more .node-navi-item.on .node-navi-icon {
    color: rgb(178,198,230); /* IE8 */
    color: rgba(255,255,255,0.6);
}

#node-navi-btn-more .node-navi-item {
    border:none;
}

#node-navi-btn-more .node-navi-icon {
    height:40px;
    line-height:40px;
}
#node-navi-btn-more .node-navi-title {
    display:none;
}
#node-navi-btn-more .node-navi-combo-more{
    position:absolute;
    z-index: 9999;
    width: 200px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top: 10px;
}
#node-navi-btn-more .node-navi-combo-more li.node-navi-li {
    color: #333333;
    height: 30px;
    line-height:30px;
    width:100%;
    clear:both;
}
#node-navi-btn-more .node-navi-combo-more li .node-navi-item{
    margin: 0px 10px;
    width:100%;
}
#node-navi-btn-more .node-navi-combo-more li .node-navi-icon{
    color: #808080;
    display: table-cell;
    width: 32px;
    line-height: 30px;
}
#node-navi-btn-more .node-navi-combo-more li .node-navi-title{
    color: #333333 !important;
    display: table-cell;
    line-height: 30px;
}

/**********************/
/* TOP Nav ICON Bar   */
/**********************/

#fs-navi-search.fui-bsc{
    background-color:transparent;
}

#fs-frame-search {
    -moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari, Chrome */
    border-radius: 15px; /* IE-CSS3*/
    background-color: rgb(255,255,255); /* IE8 */
    background-color: rgba(255,255,255,1);
    right: -26px;
    background-image:url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/bg_search.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#fs-frame-search .icon-navi-search {
    float: right;
    color: #d3d3d3;
}
#fs-frame-search input {
    font-size:12px;
    color: #333333;
}
#fs-frame-search input {
    font-size:12px;
    color: #333333;
}
#fs-frame-search input::-webkit-input-placeholder {
    color: #333333 !important; /* WebKit browsers */
}
#fs-frame-search input:-moz-placeholder {
    color: #333333 !important; /* Mozilla Firefox 4 to 18 */
}
#fs-frame-search input::-moz-placeholder {
    color: #333333 !important; /* Mozilla Firefox 19+ */
}
#fs-frame-search input:-ms-input-placeholder {
    color: #333333 !important; /* Internet Explorer 10+ */
}

#fs-navi-favorite .icon-navi-favorite:before {
    content: '\e61e';
}
#fs-navi-favorite .fs-favorite-combo {
    top:40px;
    width: 260px;
    font-size: 12px;
    -moz-box-shadow: 0px 1px 1px #cccccc;
    -webkit-box-shadow: 0px 1px 1px #cccccc;
    box-shadow: 0px 1px 1px #cccccc;
    overflow:hidden;
    border-bottom: 1px solid #cccccc;
}

#fs-frame-navi {
    height:40px;
}
#fs-frame-navi i {
    font-size : 16px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}
#fs-frame-navi .fs-navibar-item {
    padding: 0px 10px;
    margin-left: -10px;
    margin-right: 25px;
}

#fs-navi-message .fs-navi-msgnum:before {
    font-family:'fui';
    content:'\e615';
    color: #ff0000;
}

#fs-navi-message .fs-navi-msgnum.fui-bsd {
    border:none !important;
}

#fs-navi-message .fs-navi-msgnum {
    position: absolute;
    top: 10%;
    right: 10%;
    height:16px;
    width: 16px;
    padding:0px;
    margin:0px;
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    background-color: transparent;
}
#fs-navi-message .icon-navi-message {
    border: none;
    padding:0px;
}

#fs-frame-navi .icon-navi-search:before {
    content: '\e909';
}
#fs-frame-navi .icon-navi-favorite:before {
    content: '\e90a';
}
#fs-frame-navi .icon-navi-message:before {
    content: '\e90b';
}
#fs-frame-navi .icon-navi-admin:before {
    content: '\e90c';
}
#fs-frame-reg {
    right: 40px;
    color: #ffffff;
    line-height: 40px;
    top:10px;
    color: #007bff;
}

.fs-admin-combo, .fs-message-combo {
    top: 40px;
}

/* --------------------- */
/* Top Navigation for FBI*/
/* --------------------- */

#fs-navi-fbishutcut {

}
#fs-navi-fbishutcut ul {
    display: inline;
}
#fs-navi-fbishutcut li {
    display: block;
    float: left;
    margin-right: 25px;
}
#fs-navi-fbishutcut .node-navi-item {
    width: auto;
    border: none;
    margin: 0px;
}
#fs-navi-fbishutcut .node-navi-icon {
    display:inline-block;
    line-height: 60px;
    color: #808080;
}
#fs-navi-fbishutcut .node-navi-title {
    display:inline-block;
    margin-right: -15px;
    color: #000000 !important;
}
#fs-navi-fbishutcut li.node-navi-li.fui-bsc {
    color: #ffffff !important;
    background-color: transparent;
}
#fs-navi-fbishutcut #node-navi-btn-datasetting {
    margin-right: 0px;
    margin-left: 10px;
}

/* --------------------- */
/* ICON of favorite list */
/* --------------------- */

i {
    font-family: "fui","icomoon";
}
i.icon-remove-favorite:before {
    content: '\e117';
}

#fs-frame-header {

}

#fs-frame-banner .fs-banner-logo{
    width:32px;
    height:32px;
}
#fs-frame-banner .fs-banner-title.on {
    height: auto;
    white-space:normal;
    background-color: rgb(110,139,205);
    background-color: rgba(255,255,255,0.3);
}
#fs-frame-banner .fs-banner-title{
    font-size:30px;
    line-height:64px;
    height: 64px;
    max-width:50%;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow��ellipsis;
    padding: 0px 15px;
    z-index:9999;
    font-weight: lighter;
}



/**********************/
/* Body &Layout       */
/**********************/
body{
    background-image:none !important;
}

#fs-frame-menu {
    color: #333333;
    border-right: 1px solid #DEDEDE;
}
#fs-frame-content{
    border-left: 1px solid #DEDEDE;
}

/**********************/
/* Tree Menu          */
/**********************/

#fs-frame-menu .fs-menu-item {
    font-size: 12px;
    line-height:30px;
    height: 30px;
    border-bottom: 1px solid #DEDEDE;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow��ellipsis;
}
#fs-frame-menu .fs-menu-item .fs-menu-icon {
    padding:0;
    margin-right: 10px;
}
#fs-frame-menu .fs-menu-item:hover {
    color: #FFFFFF;
    background-color: #305ab7;
}
#fs-frame-menu .fs-menu-item.select {
    color: #FFFFFF;
    background-color: #305ab7;
}
a.fs-menu-item.select i.icon-tree-leaf:before {
    content:'';
}
a.fs-menu-item i.icon-tree-fork:before {
    content:'\e61f';
}
a.fs-menu-item.on i.icon-tree-fork:before {
    content:'\e624';
}
#fs-frame-menu .fs-menu-icon {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#fs-frame-menu .fs-menutree {
    padding-bottom: 30px;
}

/*******************/
/*  Tab Navigation */
/*******************/
.fs-tab .fs-tab-btns {
    color : #333333;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border-right: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255, 0.8) !important;
    background-color: #EAEAEA !important;
}
.fs-tab-btns .select {
    color: #3059B8 !important;
}
.fs-tab-btns .fui-seb {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    border-right: 1px solid #fff;
    background-color: #EAEAEA  !important;
}
.fs-tab-btns .fui-bsb {
    background-color: #FFFFFF  !important;
}


.fs-tab .fs-tab-homepage {
    width: 50px;
    border-right: 1px solid #fff !important;
}

.fs-tab .fs-tab-more {

}
.fs-tab .fs-tab-exd {
    position: relative;
    float: left;
    width: 35px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #fff;
    padding-top : 3px;
    cursor: pointer;
}
.fs-tab .fs-tab-exd .icon-tab-exd:before {
    content:'\e90d';
}
.fs-tab .fs-tab-exd.off .icon-tab-exd:before {
    content:'\e911';
}
.fs-tab .fs-tab-names .fs-tab-item {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    border-right: 1px solid #fff;
    background-color: #EAEAEA;
    color: #333333;
}

/*******************/
/*Highlight Colors */
/*******************/
.fui-bsc{
    color:#3059b8;
}
.fui-seb {
    background-color: transparent;
}

iframe {
    border:none;
}
iframe.fs-tab-content-item  {
    border: 0px solid #ccc !important;
}

.fs-menu-hide {
    top: 48%;
    background-image:url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/icon_hide.png');
}
.fs-menu-show {
    top: 48%;
    background-image:url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/icon_show.png');
}

/*IE6/7/8*/
@media \0screen\,screen\9 {
    .fs-tab .fs-tab-btns {
        z-index:1;
    }
    .fs-tab iframe.fs-tab-content-item {
        margin : -4px;
        z-index: 0;
    }
}

/* FineBI */
.node-navi-icon-addanysis:before {
    content:'\e692';
    font-family: "icomoon","bi","fui";
}
.node-navi-icon-datasetting:before {
    content:'\e693';
    font-family: "icomoon","bi","fui";
}

/* -------------------------------------------- */
/*  Override for Customer                       */
/* -------------------------------------------- */

#fs-frame-navi {
    height: 64px;
}
#fs-frame-banner {
    top: 5px;
}
#fs-frame-banner .fs-banner-logo {
    width: auto;
    height: 64px;
}
.node-navi-item .node-navi-title {
    font-size: 15px;
    line-height: 25px;
    color: #ffffff!important;
}
#fs-frame-header {
    background-color: transparent;
    color: #000 !important;
}
#fs-frame-header .node-navi {
    top : 70px;
}
.slide-top {
	width: 50px;
    height: 50px;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: 100% 70%;
    background-image:url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/arrow_up.png');
}
.slide-down {
	width: 50px;
    height: 50px;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: 100% 70%;
    background-image:url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/arrow_down.png');
}

#fs-frame-navi-toptwo {
    position: relative;
    float: right;
    right: 0;
    list-style: none;
    height: 60px;
    top: 65px;
}
ul .menutree-text{
	font-size:13px;
}